.container{
    position: relative;
    width: 100%;
    height: 100vh;
}

.containerNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;
}


.logo{
<<<<<<< HEAD
    max-height: 120px;
=======
    max-height: 200px;
>>>>>>> 45534930a4f68f6efbba1460f0e2ee996a25051a
}

.navButton{
    border-radius: 8px;
    padding: 10px 15px;

    
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    font-size:1.5em;
    color: white;   
}

.navButton:hover{
    color: orange;

}

.containerImageHero{
    position:absolute;
    width: 100vw;
    height: 100%;
    object-fit: cover;
    object-position: center;
    top: 0;
    left: 0;
    z-index: -1;
}

.heroButton{
    position: absolute;
    bottom: 15vh;
    left: 20vw;

    width: fit-content;
    height: fit-content;
    border-radius: 15px;
    border-width: 0;
    padding: 10px 50px;

    background-color: orange;
    box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.555);
    
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
    text-align: center;
    transition: 0.5s;
}

.heroButton:hover{
    cursor: pointer;
    transform: scale(1.1);
    color: white;
}