.container {
  display: flex;
  align-items: center;
  width: 1000px;
  background-color: #F2EAD3;
  min-width: 50%;
  
}

.title-text {
  color: #262626;
  text-decoration: none;
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 4px;
}

.card-text {
  padding-left: 15px;
  font-size: 17px;
  display: flex;
  align-items: center;
  font-weight: 400;
  line-height: 20px;
  color: #080808;
}

.cardImage {
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  width: 300px;
  height: 300px;
  border-radius: 12px;
}

.cardImage:hover{
  scale:1.05;
}

.titleHome {
  text-align: center;
  color: orange;
  align-content: center;
  color: rgb(87, 87, 87);
  size: 40px;
}

.add_to_cart{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #fead3a;
  color: #F9F5F0;
  width: 200px;
  font-weight: 600;
  text-transform: uppercase;
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  height: 44px;
  padding: 1rem;
}

.add_to_cart:hover{
  background-color: #F4991A;
  color: #262626;
}