.back {
    background-color: rgb(255, 200, 137);
    display: flex;
    justify-content: center;
    align-content: center;
    background-attachment: fixed;

}

.imag {
    border-radius: 10px;
    height: 200px;
    box-shadow: 10px 10px 10px rgb(76, 81, 90);
}

.previs {
    background-color: rgb(253, 175, 86);
    border: 10px;
    display: grid;
    justify-content: center;
    align-content: center;
    padding: 150px;
}

.nameimgage {
    justify-content: center;
    align-content: center;
    margin: 20px;
}


.titleback {
    background-color: rgb(255, 156, 43);
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}