.checkout_container{
    display: flex;
    justify-content: center;
    background-color: #F9F5F0;
    height: 100vhpx;
    width: 1000px;
}

.first{
    padding-right: 230px;
    text-align: center;
}
.second{
    padding-right: 130px;
}
.third{
    padding-right: 200px;
}

hr.solid {
    border-top: 3px solid #bbb;
    width: 200%;
}

.amount_button2{
    background-color: #F4991A;
    border: 1px solid #F4991A;
    border-radius: 50%;
    color: #F9F5F0;
    height: 20px;
    line-height: 17px;
    transition: box-shadow .29s cubic-bezier(.79,.01,.375,.995);
    width: 20px;
}
