.menu-container {

    display: none;

}

.menu-container.open {
    display: block;
    justify-content: space-around;
    max-width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin: 5px;
}

.slct {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 226, 173);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 10px;
    border-radius: 1rem;
    cursor: pointer;
    padding: 4px;
    font-size: 17px;
    text-align: center;
    border-color: rgba(250, 204, 118, 0.411);
}

.slct:hover {
    background-color: rgb(255, 192, 75);
    scale: 1.1;
    transition: 0.8s;
}


.button1 {
    color: rgb(255, 255, 255);
    background-color: rgb(255, 206, 116);
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    border-color: orange;
    
}


.button1 :hover {
    background-color: rgb(255, 170, 148);
    scale: 1.1;
    transition: 0.8s;
}