.buttonFiltros {
    color: #636363;
    background-color: #e0e0e000;
    border-radius: 4px;
    border-radius: 1rem;
    cursor: pointer;
    padding: 4px;
    font-size: 20px;
    border-color: #f8f8f800;
}