.back {
    background: #DBE6F6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgb(252, 223, 169), #DBE6F6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgb(255, 223, 163), #DBE6F6);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.buttonFiltros {
    color: orange;
    background-color: #e0e0e000;
    border-radius: 4px;
    cursor: pointer;
    padding: 4px;
    font-size: 20px;
    margin: 30px;
    border-color: orange;
}

.buttonFiltros :hover {
    transform: scale(1.1);

}

.titleHome {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: orange;
    align-content: center;
    size: 40px;
}