.main_container {
  justify-content: center;
  align-items: center;
  display: flex;
  align-content: center;
  justify-content: center;
  background-image: url('https://res.cloudinary.com/dbepwtmru/image/upload/v1668552203/Swirly_pattern_wallpaper_lktlvs.jpg');
  background-size: cover;
  height: 100vh;
  width: 100%;
  
  /* background-size: 400vh; */
}

.sub_container {
  background: rgba(28, 27, 27, 0.578);
  border-radius: 2em;
  backdrop-filter: blur(18px);
  border: 2px solid rgba(255, 255, 255, 0.05);
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.34);
 padding: 5px 5px;
 padding-top: 15px;
 width: 100%;
 max-height: max-content;
 
 
}

.container_elements {
  display: flex;
  flex-direction: row;
  text-align: left;
  padding: 1rem;
  max-width: 1200px;
  max-height: auto;
}

.image_container {
  border-radius: 5px;
  object-fit: cover;
  
}

.the_image {
  max-height: 400px;
  max-width: 1200px;
  object-fit: cover;
  padding: 10px;
  border-radius: 20px;
}

.text_container {
  padding-left: 5%;
  font-size: large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.text_container h2 {
  margin: 0;
  text-decoration: underline;
  font-style: italic;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.text_container p {
  margin: 0.6rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}








/* .shop_buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
} */

/* .add_button {
  color: rgb(255, 255, 255);
  background-color: rgb(31, 149, 31);
  border-radius: 10px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  font-size: 20px;
  border-color: rgb(58, 117, 32);
} */

/* .add_button:hover {
  color: black;
  background-color: rgb(176, 254, 146);
  scale: 1.1;
  transition: 0.3s;
} */

/* .remove_button {
  color: rgb(255, 255, 255);
  background-color: rgb(200, 26, 26);
  border-radius: 10px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  font-size: 20px;
  border-color: rgb(67, 9, 9);
} */

/* .remove_button:hover {
  color: black;
  background-color: rgb(255, 171, 171);
  scale: 1.1;
  transition: 0.3s;
} */

/* .shop_end {
  display: flex;
  align-items: center;
  justify-content: center;
} */

.desactiviado {
  color: rgb(194, 0, 0);
  background-color: rgb(255, 166, 166);
  border-radius: 10px;
  font-size: medium;
  width: 8em;
  padding: 4px 4px 4px;
  margin: 7px;
}

.activado {
  color: rgb(78, 194, 0);
  background-color: rgb(187, 255, 166);
  border-radius: 10px;
  border-color: rgb(78, 194, 0);
  width: 5em;
  padding: 4px 4px 4px;
  margin: 7px;
  font-size: medium;
}

@media screen and (max-width:940px){
  .main_container{
    max-height: 100%;
    flex-direction: column;
    background-size: cover;
  }
  .container_elements{
    
    flex-direction: column;
    max-height: 100%;
  }

  .sub_container{
    flex-direction: column;
    max-width: 90%;
    max-height: 100%;
  }

  .text_container{
    font-size: 2em;
  }

  .image_container{
    flex-direction: column;
    
  }
  
  .the_image{
    max-width: 100%;
  }
 
  .Add{
    margin-left: 36%;
    
  }
  

}

.Add{
  margin-left: 60%;
  margin-bottom: 3%;
  width:  fit-content;
  background-color: orange;
  border-radius: 0.9375em;
  box-shadow: 0.625em 0.625em 0.9375em 0.3125em rgba(0, 0, 0, 0.555);
  padding: 0.5em 2em;
  font-size: 1em;
  font-weight: bold;
  color: white;
  text-decoration: none;
  text-align: center;
  transition: 0.5s;

}

.Add:hover {
  cursor: pointer;
  transform: scale(1.1);
  color: white;
}

.back{

  
  width:  fit-content;
  background-color: orange;
  border-radius: 0.9375em;
  box-shadow: 0.625em 0.625em 0.9375em 0.3125em rgba(0, 0, 0, 0.555);
  padding: 0.5em 2em;
  font-size: 1em;
  font-weight: bold;
  color: white;
  text-decoration: none;
  text-align: center;
  transition: 0.5s;
}

.back:hover {
  cursor: pointer;
  transform: scale(1.1);
  color: white;
}

/* .stars a {
  display: inline-block;
  color: #95a5a6; 
}
.stars:hover a {
  color: #f39c12; 
}
  .stars:hover a:hover ~ a {
    color: #95a5a6; 
  } */