.bacKfilters {
  background-color: rgba(255, 207, 153, 0.788);
  display: flex;
}

.offert {
  color: rgb(255, 102, 0);
  padding-top: 7px;
}

.menu-container {
  display: none;
}

.menu-container.open {
  display: flex;
  flex-direction: column;
  width:600px;
}

.filter-container {
  background-color: rgb(255, 233, 193);
  border-radius: 10px;
  margin: 5px;
  height: 35px;
  display: flex;
  justify-content:center;
}

.containerGO {
  display: flex;
  justify-content: space-around;
  background-size: cover;
  align-content: center;
  background-attachment: fixed;
  margin: 1px;
  padding: 1px
}

.slct {
  color: rgb(255, 102, 0);
  background-color: rgb(252, 216, 150);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-radius: 10px;
  border-radius: 1rem;
  cursor: pointer;
  padding: 3px;
  font-size: 14px;
  text-align: center;
  width: 80px;
  border-color: rgba(250, 204, 118, 0.411);
}

.slct:hover {
  background-color: rgb(255, 192, 75);
  scale: 1.1;
  transition: 0.8s;
}


.button1 {
  color: rgb(255, 255, 255);
  background-color: rgb(255, 206, 116);
  border-radius: 8px;
  cursor: pointer;
  font-size: 20px;
  border-color: orange;
}


.button1:hover {
  background-color: rgb(255, 183, 49);
  scale: 1.1;
  transition: 0.8s;
}


.button23 {
  color: rgb(255, 255, 255);
  background-color: rgb(255, 186, 58);
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  border-color: orange;
}


.button23:hover {
  background-color: rgb(206, 135, 5);
  scale: 1.1;
  transition: 0.8s;
}

.form-control{
  width: 600px;
}

.btn-primary {
  background-color: orange;
  border-color: rgba(233, 171, 0, 0.623);
}

.btn-primary:hover {
  background-color: rgb(255, 192, 75);
  border-color: rgba(0, 0, 0, 0.185);
}

.form-control {
  border-radius: 10px;
  width: 178px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.form-control:hover {
  border-color: orange;
}